<% collection.each do |comment| %>
  <div class="article-comment">
    <p>
      <%= comment.content %> by
      <%= comment.author %>
      <button type="button" class="new-comment" id="<%= comment.id %>">Add reply!</button>
      <% if comment.children.any? %>
       <%= render "article_comments/article_comment", collection: comment.children %>
      <% end %>
    </p>
  </div>
<% end %>
