config/database.yml

# text editor cache
.redcar

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log
/tmp
.rvmrc
public/system
/config/development.sphinx.conf
/config/sphinx.yml
db/schema.rb
db/structure.sql
db/sphinx*
rerun.txt
public/assets
public/arhives
REVISION
/nbproject
