<h1>Страница всех специалистов</h1>

<% @specialists.each do |spec| %>
  <div class="specialist">
    <%= image_tag spec.avatar.url %>
    <%= link_to spec.name, specialist_path(spec) %><br />
    описание специалиста
    <p>
      <%= spec.description %>
    </p>
  </div>
<% end %>
