<h1>Страница всех специалистов</h1>

<% @specialists.each do |spec| %>
  <div class="specialist">
    <%= image_tag spec.avatar.url(:thumb) %>
    <%= link_to spec.name, specialist_path(spec) %>
  </div>
<% end %>
