<div>
  <%= link_to "Добавить комментарий", '#', class: :add_comment_link %>
  <div class="comment_text_block hidden">
    <textarea></textarea>
    <%= link_to "Отправить", '#', class: :send_comment_link %>
  </div>
  <div class="nested_comments">
  <% comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
  </div>
</div>