<div class="news">
  <% news.each do |n| %>
  <div class="item">
    <%= image_tag n.photo.url %>
    <div class="content">
      <%= link_to n.title, n, :class => 'title' %>
      <div class="date">
        <%= Russian::strftime(n.publication_date, "%e %B, %A") %>
      </div>
      <div class="text">
        <%= truncate(n.content, separator: '.', omission: '.', length: 240) %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
</div>
