<div class="activity_edit_block">

  <div class="header">
    <span class="circle">4</span>
    <span class="title">Дополнительная информация</span>
  </div>

  <div class="item width33">
    1. Стоимость и длительность
    <%= f.text_area :additional_information, :class => 'rte-zone' %>
  </div>
  <div class="item width33">
    2. Чем заняться родителю
    <%= f.text_area :parent_activities, :class => 'rte-zone' %>
  </div>
  <div class="item width33">
    3. Дополнительно
    <%= f.text_area :cost, :class => 'rte-zone' %>
  </div>
  <div class="clear"></div>

</div>
