<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">7</span>
    <span class="title">Публикация</span>
  </div>
  
  <div class="item width25">
   Опубликовать?
    <%= f.select :published, [['Да', true],['Нет', false]] %>
  </div>
  <div class="clear"></div>
  
</div>