<div class="activity_edit_block">
  <div class="header">
    <span class="circle">3</span>
    <span class="title">Преподаватели</span>

    <div id="teachers">

      <% if f.object.teachers.present? %>
	<% f.object.teachers.each do |teacher| %>
	  <%= render 'teacher', f: f, teacher: teacher, new_data: false %>
	<% end %>
      <% else %>
	<div class="button_edit first" id="teachers-default-buttons">
	  <button></button>
	  <button class="add first">Добавить еще одного преподавателя</button>
	  <div class="clear"></div>
	</div>
      <% end %>

      <div id="hidden_teacher" class="hidden">
	<%= render 'teacher', f: f, teacher: f.object.teachers.new, new_data: true %>
      </div>

    </div>
  </div>
</div>
