
<div class="pages">
  <div class="common">
    <h1>Личное пространство</h1>
    Здесь мы храним для вас все ваши комментарии, избранные страницы и прочее
    <%= render 'users/profile_menu', current: 'favourites' %>
    <div class="title">Избранные материалы яркого журнала</div>
    <% @favourites.each do |favourite| %>
      <% if favourite.relation_type == 'ContestMembership' %>
        <%= render "contest_membership_item", favourite: favourite, object: favourite.relation %>
      <% else %>
        <%= render "item", favourite: favourite, object: favourite.relation %>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear"></div>
</div>

