<div class="pages">
  <div class="post_category_menu">
    <ul>
      <li class="experts_ico active"><a href="/about_company">О компании</a></li>
      <li class="sponsors_ico"><a href="/sponsors">Попечительский совет</a></li>
      <li class="crew_ico"><a href="/crew">Команда</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="common">
  <h2>Маркетинговая компания Bright People/Яркие Люди</h2>
  <p>Основатели компании: <a href="/creative_group/13">Мария Гальперина</a>, <a href="http://bright-people.ru/creative_group/29">Ольга Мунтян</a></p> 
<p>Учредители семейного международного творческого фестиваля &laquo;Яркие Люди&raquo;</p>
<p>Первый фестиваль состоялся 18&nbsp;августа 2012 года в&nbsp;парке Горького: хед-лайнеры со&nbsp;всего мира, 52&nbsp;участника, 400&nbsp;педагогов, 700&nbsp;артистов, тонны картона, пластилина, цветной бумаги, нестандартных материалов и&nbsp;творческих идей. Яркие Люди&nbsp;&mdash; прекрасная площадка для интерактивных музеев, театров, студий найти свою аудиторию&nbsp;&mdash; первый детский фестиваль такого масштаба не&nbsp;только в&nbsp;Москве, но&nbsp;и&nbsp;в&nbsp;мире.</p> 
<p><iframe width="853" height="480" src="//www.youtube.com/embed/Tzx63C-vqG8?rel=0" frameborder="0" allowfullscreen></iframe></p>
<p>Компания Bright People&nbsp;&mdash; организатор крупных городских мероприятий:</p>
<ul>
<li>Карнавал на&nbsp;Сахарова в&nbsp;День Города 2012</li>
<li>Мандарин&mdash;мобили (анонс городского новогоднего фестиваля)</li>
<li>Зимние творческие активности в&nbsp;парках,<br />
<p>Парковые мероприятия: &laquo;Фестиваль усов в&nbsp;Музеоне&raquo;, фестиваль уличного искусства &laquo;Открытое небо&raquo;, Фестиваль &laquo;Счастливые дети&raquo;, Фронтовой роман в&nbsp;письмах на&nbsp;9&nbsp;мая и&nbsp;многие другие.</p>
<p>Помимо крупных городских мероприятий, компания &laquo;Bright People&raquo; занимается разработкой концепций и&nbsp;созданием детских образовательно-развлекательных центров, и&nbsp;активно участвует в&nbsp;проектах, связанных с&nbsp;новым образовательным форматом для детей.</p>
<p>Компания принимает активное участие в&nbsp;социальных и&nbsp;благотворительных проектах для города : фонд &laquo;Линия Жизни&raquo;, фонд &laquo;Настенька&raquo;, фонд &laquo;Подсолнух&raquo;, фонд &laquo;Я&nbsp;есть&raquo; и&nbsp;другие.</p>
  </div>
</div>