<div class="name"><%= link_to object.title, object %></div>

<div class="short_desc"><%== object.description %></div>

<div class="info">
  <em>В разделе</em>
  <%= link_to 'Москва для детей', '#'%>
  <em>от</em>
  <%= r_time object.created_at %>
</div>
