<div class="name"><%= link_to object.title, object %></div>

<div class="short_desc"><%== object.short_description %></div>

<div class="info">
  <em>В разделе</em>
  <%= link_to 'Журнал', '#'%>
  <em>от</em>
  <%= r_time(object.publication_date || object.created_at) %>
</div>
