<div class="name"><%= link_to object.excerpts.name.html_safe, object %></div>

<div class="short_desc"><%= object.excerpts.description.html_safe %></div>

<div class="info">
  <em>В разделе</em>
  <%= link_to 'Конкурсы', '#'%>
  <em>от</em>
  <%= Russian::strftime(object.created_at, "%e %B %Y") %>
</div>
