<div class="footer_header"></div>
<div class="footer_content">
  <div class="footer_shadow">
    <div class="wrapper">
      <div class="left column">
        <div class="gen_sponsor">
          <span>Генеральный спонсор</span>
          <a href="http://mkb.ru/"><img src="/assets/footer_bank_bg.png" alt="" /></a>
        </div>
        <div class="gen_organizator">
          <span>Организатор фестиваля</span>
          <img src="/assets/footer_logo.png" alt="" />
        </div>
      </div>
      <div class="center column">
        <div class="menu">
          <ul>
            <li><a href="">Москва для детей</a></li>
            <li><a href="">Журнал</a></li>
	    <li><%= link_to 'Конкурсы', contests_path %></li>
	    <li><%= link_to 'Экспертный совет', experts_path %></li>
	    <li><%= link_to 'Спецпроекты', special_projects_path %></li>
          </ul>
        </div>
        <div class="copy">
          &copy; 2012 ООО &laquo;Брайт Пипл Хэдквотерс&raquo;.<br />
          Все права защищены.<br />
        </div>
        <div class="create">
          Разработано в <a href="http://www.baltikit.ru/">BalticIT</a><br />
          Дизайн – <a href="">Веркс</a>
        </div>
      </div>
      <div class="right column">
        <div class="gen_sponsor">
          <span>При поддержке<br />Правительства Москвы</span>
          <a href="http://mos.ru/"><img src="/assets/moscow_logo.png" alt="" /></a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
