<div class="alongside">
  <div class="title">Лучшие места для детей в Москве</div>
  <ul>
    <% Activity.published.sample(3).each do |activity| %>
      <li>
        <span class="thumb"><%= link_to image_tag(activity.logo.url), activity %></span>
        <span class="name"><%= link_to activity.title, activity %></span>
        <span class="geo"><%= image_tag activity.metro_station.metro_branch.icon.url %>м. <%= activity.metro_station.try(:title) %></span>
      </li>
    <% end %>
  </ul>
</div>
