<div class="alongside">
  <div class="title">Лучшие места для детей в Москве</div>
  <ul>
    <% Activity.published.sample(3).each do |activity| %>
      <li>
      
        <%= link_to activity do %>
        <span class="thumb"><%= image_tag(activity.logo.url) %></span>
        <span class="name"><%= activity.title %></span>
        <% end %>
        
        <% unless activity.metro_station.blank? %>
          <span class="geo"><%#= image_tag activity.metro_station.metro_branch.icon.url %>м. <%= activity.metro_station.try(:title) %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
