<% @interviews.each do |interview| %>
  <p>
     <%= link_to interview.title, interview %>
      by <%= interview.author %>
     <%= time_ago_in_words interview.created_at %> ago
  </p>
  <p>
      <%= truncate(interview.content, length: 25, omission: '...') %>
  </p>
<% end %>
