<div class="pages">
  <div class="common">

    <%= render 'dashboard/shared/profile_menu', current: 'favourites' %>

    <div class="profile_title">Избранные материалы яркого журнала</div>
    <% @favourites.each do |favourite| %>
      <% if favourite.relation_type == 'ContestMembership' %>
        <%= render "contest_membership_item", favourite: favourite, object: favourite.relation %>
      <% else %>
        <%= render "item", favourite: favourite, object: favourite.relation %>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear"></div>
</div>

