<div id="nested_slider">
  <div class="slider_control">
    <ul>
      <li class="sl_news"><a rel="slider_news" href="#">Новости фестиваля</a></li>
      <li class="sl_user"><a rel="slider_user" href="#">Участники</a></li>
      <li class="sl_fest"><a rel="slider_fest" href="#">О фестивале</a></li>
      <li class="sl_org"><a rel="slider_org" href="#">Оргкомитет</a></li>
    </ul>
  </div>
  <div id="slider_news" class="slider">
    <div class="slides_container">
      <div style="background:url(/assets/samp/slide_samp.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp.jpg) no-repeat 0 top; height:395px">

      </div>
    </div>
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
  <div id="slider_user" class="slider">
    <div class="slides_container">
      <div style="background:url(/assets/samp/slide_samp_2.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp_2.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp_2.jpg) no-repeat 0 top; height:395px">

      </div>
    </div>
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
  <div id="slider_fest" class="slider" style="z-index:20">
    <div class="slides_container">
      <div class="slide" style="background:url(/assets/samp/slide_2.jpg) no-repeat 0 top; height:395px">
					<div class="slide_text">
         		<div style="float:left; padding-right:50px; padding-top:140px">
          	Ежегодный международный фестиваль, <br />объединяющий лучшие культурные и <br />образовательные проекты для детей!
            </div>
          </div>
      </div>
      <div class="slide" style="background:url(/assets/samp/slide_4.jpg) no-repeat 0 top; height:395px">
					<div class="slide_text">
         		<div style="float:left; padding-right:50px; padding-top:140px">
          	Ежегодный международный фестиваль, <br />объединяющий лучшие культурные и <br />образовательные проекты для детей!
            </div>
          </div>
      </div>
      <div class="slide" style="background:url(/assets/samp/slide_1.jpg) no-repeat 0 top; height:395px">
					<div class="slide_text">
         		<div style="float:left; padding-right:50px; padding-top:140px">
          	Ежегодный международный фестиваль, <br />объединяющий лучшие культурные и <br />образовательные проекты для детей!
            </div>
          </div>
      </div>
    </div> 
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
  <div id="slider_org" class="slider">
      <div class="slides_container">
          <div class="slide" style="background:url(/assets/samp/slide_org.jpg) no-repeat 0 top; height:395px">
  
              <div class="slide_text">
                
              </div>
  	     	</div>
      </div>
  </div>
</div>
<div class="main_content">
  <div>
    <div class="adv"><a href=""><img src="/assets/samp/adv_pic.jpg" alt="" /></a></div>
    <div class="bank_info">
      <div class="title">Добро пожаловать в мир ярких людей!</div>
      <div class="order_bank_catd">Заказать уникальную<br />родительскую карту Москвича</div>
      <div class="bank_text">
        Московский кредитный банк рад возможности подарить маленьким и взрослым москвичам этот праздник этим прекрасным летом 2012 года, когда все цветет.

        <div class="signature">Александр НИКОЛАШИН,<br />Президент Московского кредитного банка</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="timer">
      <div class="title">До начала фестиваля «Яркие люди» остается:</div>
    </div>

    <div class="clear"></div>
  </div>
  <div class="subscription">
    <div class="title">
      Подписка
      <span>на новые материалы из всех рубрик на</span>
    </div>
    <div class="subscript_form">
      <form action="">
        <input type="text" name="" />
        <input type="submit" value="Ok!" />
      </form>
    </div>
  </div>
</div>
