<div id="nested_slider">
  <div class="slider_control">
    <ul>
      <li class="sl_fest">
	<%= link_to 'О фестивале', page_path('about_festival'), class: :active, rel: :slider_fest %>
      </li>
      <li class="sl_user"><a rel="slider_user" href="#">Участники</a></li>
      <li class="sl_org">
	<%= link_to 'Оргкомитет', page_path('org_komitet'), rel: :slider_org %>
      </li>
    </ul>
  </div>
  
  <div id="slider_fest" class="slider" style="z-index:20">
    <div class="slides_container">
      <div class="slide" style="background:url(/assets/samp/slide_2.jpg) no-repeat 0 top; height:395px">
      </div>
      <div class="slide" style="background:url(/assets/samp/slide_4.jpg) no-repeat 0 top; height:395px">
      </div>
      <div class="slide" style="background:url(/assets/samp/slide_1.jpg) no-repeat 0 top; height:395px">
      </div>
    </div> 
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
  

  
  <div id="slider_user" class="slider">
    <div class="slides_container">
      <div class="slide" style="background:url(/assets/samp/slide_user_1.jpg) no-repeat 0 top; height:395px">
        <div class="slide_text">
            <div style="float:left; padding-right:50px; padding-top:100px">
            	Парк Горького<br />
              18 августа<br />
              10:00-23:00<br />
              <span style="color:#bb224c">Вход свободный</span>
            </div>  
        </div>
      </div>
      <div class="slide" style="background:url(/assets/samp/slide_user_2.jpg) no-repeat 0 top; height:395px">
        <div class="slide_text">
            <div style="float:left; padding-right:50px; padding-top:100px">
            	Парк Горького<br />
              18 августа<br />
              10:00-23:00<br />
              <span style="color:#bb224c">Вход свободный</span>
            </div>
        </div>
      </div>
    </div>
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
  
  <div id="slider_org" class="slider">
      <div class="slides_container">
          <div class="slide" style="background:url(/assets/samp/slide_org.jpg) no-repeat 0 top; height:395px">
  
              <div class="slide_text">
                
              </div>
  	     	</div>
      </div>
  </div>
</div>


<div class="color_line_left">
<div class="color_line_right">

<div class="main_content">
  <div>
  <% pics = [image_tag('/assets/samp/adv.jpg'), image_tag('/assets/samp/R7.jpg')] %>
  <% links = ["http://www.krokha.ru", "http://radio7.ru/?utm_source=bright-people&utm_medium=promo&utm_campaign=bright-people"] %>
  <% j = rand(0..1) %>
    <div class="adv"><%= link_to pics[j], links[j], "target"=>"_blank" %></div>
    <div class="bank_info">
      <div class="title">Добро пожаловать в мир ярких людей!</div>
      <div class="order_bank_catd">Президент ОАО<br />«МОСКОВСКИЙ <br />КРЕДИТНЫЙ БАНК»<br />Александр Николашин</div>
      <div class="bank_text">

МОСКОВСКИЙ КРЕДИТНЫЙ БАНК <br />в честь своего 20-летия дарит городу праздник – детский творческий фестиваль «Яркие люди». 
<br />
Гости мероприятия смогут <br />не только весело провести время, но и открыть двери в мир творческих профессий <br />и искусства.<br />

        <%= link_to 'Подробнее', page_path('about_bank'), class: :to_bank_link %>
        
      </div>
      <div class="clear"></div>
    </div>

        <div class="timer">
        	<div class="title">До начала фестиваля «Яркие люди» остается:</div>
            
            <div class="timer_block">
            <div class="timer_wrapper">
            	<div id="counter"></div>
                <div class="date_wrapper">
                    <div class="date">Дни</div>
                    <div class="date">Часы</div>
                    <div class="date">Минуты</div>
                </div>
            </div>
<script type="text/javascript">
$(function(){
	var _date = new Date();
	_date.setMonth(7);
	_date.setDate(18);
	_date.setHours(0);
	_date.setMinutes(0);
	_date.setSeconds(0);
	$('#counter').countdown({
		image: '/assets/counter.png',
		startTime: _date
	});
});
</script>
        </div>
            
        </div>


    <div class="clear"></div>
  </div>
  <div class="subscription">
    <div class="title">
      Подписка
      <span>на материалы из всех рубрик</span>
    </div>
    <div class="subscript_form">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="http://bright-people.us5.list-manage.com/subscribe/post?u=79722e9c6e3607f42dfb277bd&amp;id=8ae74f1ca8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email адрес" required>
                    <input type="submit" value="Ok!" name="subscribe" id="mc-embedded-subscribe" class="button">
                </form>
                </div>
                <!--End mc_embed_signup-->
    </div>
  </div>
</div>


</div>    
</div>
