<% content_for :title do %>
  Фестиваль Яркие Люди | Команда
<% end %>

<div class="pages">
  <div class="post_category_menu">
    <ul>
      <li class="experts_ico"><a href="/about_company">О компании</a></li>
      <li class="sponsors_ico"><a href="/about_projects">Проекты</a></li>
      <li class="crew_ico active"><a href="/crew">Команда</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="expert_list_wrapper">
  <%= render 'crew_title' %>
    <div class="expert_list">
      
    <% @crew.each_with_index do |tm, index| %>
      <div class="exp_preview">
        <div class="thumb">
          <%= image_tag(tm.photo) %>
        </div>
        <span class="name"><%= tm.name %></span>
        
        <span class="info"></span>
      </div>
      <% if (index+1) % 6 == 0 %>
      <div class="clear"></div>
      <% end %>
    <% end %>
      
      <div class="clear"></div>
    <%= paginate @crew %>
    </div>
  </div>
</div>
