<div class="pages">

  <div class="bank_page">
    <div class="left_corner">
      <div class="right_corner">
        <div class="confeti">

          <div class="title"><h1>МОСКОВСКОМУ КРЕДИТНОМУ БАНКУ — 20 лет!</h1></div>

          <div class="bank_info">
            <div class="bank_info_wrapper">
              <div class="thumb">
		<%= link_to image_tag('more_about_bank.png'), '#' %>
	      </div>

              <div class="who">
                Карта<br />для ярких людей!
              </div>
              <div class="card">
		<%= image_tag 'bank_bright_card.png' %>
              </div>
            </div>
          </div>

          <div class="director_info">
            <div class="director_info_wrapper">
              <div class="thumb">
		<%= image_tag 'nikolashev.png' %>
	      </div>

              <div class="who">
                Президент МОСКОВСКОГО КРЕДИТНОГО БАНКА<br />Александр НИКОЛАШИН
              </div>

              <strong>МОСКОВСКИЙ КРЕДИТНЫЙ БАНК в честь своего 20-летия дарит городу праздник  - детский творческий фестиваль «Яркие люди».</strong>
              <br /><br />
              Такое масштабное мероприятие МОСКОВСКИЙ КРЕДИТНЫЙ БАНК проводит впервые, несмотря на то, что банк всегда с уважением относился к семейным ценностям и проявлял живое участие к жизни детей, оставшихся без родительского внимания и заботы. Поддержка всегда носила «неформальный» характер и проявлялась через личное стремление и желание руководителей и сотрудников банка помочь тем, кто в этом нуждается. Мы уверены, дети  - наше будущее и очень важно, чтобы они вошли в этот мир умными, разносторонними людьми, чтобы в их сердцах жила доброта и красота.<br /><br />
              В этом году мы решили расширить границы и устроить праздник для всех детей Москвы. Банк постарался организовать мероприятие так, чтобы все гости, от самых больших до самых маленьких, могли не только весело провести время, но и познакомиться с творческими профессиями, поучаствовать в мастер-классах и, возможно, найти для себя новые увлечения и занятия.<br /><br />
              Мы надеемся, что праздник понравится как детям, так и их родителям, и будем рады, если этим фестивалем МОСКОВСКИЙ КРЕДИТНЫЙ БАНК положит начало новой традиции – ежегодному проведению масштабных детских мероприятий. <br /><br />
              Мы уверены, что творчество и искусство помогут детям раскрыться, стать нестандартными и яркими людьми!

            </div>
          </div>

          <div class="observer_info">
            <div class="observer_info_wrapper">
              <div class="thumb">
		<%= image_tag 'avdeev.png' %>
	      </div>
              <div class="who">
                Член наблюдательного совета<br />МОСКОВСКОГО КРЕДИТНОГО БАНКА<br />Роман АВДЕЕВ
              </div>

              <div class="blog_title">блог<br />романа<br />авдеева</div>

              <div class="blog_cell first">
                <a href="">Усыновление: "правда, которая невероятней выдумки"</a><br />
                <span class="date">23 мая 2012 г. </span>
              </div>

              <div class="blog_cell">
                <a href="">Усыновление: "правда, которая невероятней выдумки"</a><br />
                <span class="date">23 мая 2012 г. </span>
              </div>

              <div class="blog_cell">
                <a href="">Усыновление: "правда, которая невероятней выдумки"</a><br />
                <span class="date">23 мая 2012 г. </span>
              </div>

            </div>
          </div>
          <div class="clear"></div>

        </div>
      </div>
    </div>
  </div>

</div>
