<div class="pages">
  <%= render 'shared/post_category_menu' %>
  
  <%= raw @page.text %>
  <!-- NOT EDIT -->
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear"></div>
</div>

<% content_for :title do %>
  Фестиваль Яркие Люди | о Фестивале
<% end %>
