<div class="pages">
  <div class="common">
    <div class="post_category_menu">
      <ul>
      <li class="org_ico active"><%= link_to "Оргкомитет", page_path('org_komitet') %></li>
        <li class="about_ico"><%= link_to "О фестивале", page_path('about_festival') %></li>
      </ul>
      <div class="clear">
      </div>
    </div>
    <div class="orgkomitet">
      <div class="org_people">
        <div class="org_people_preview">
          <div class="org_people_wrapper">
            <div class="thumb">
              <a href="">
              <span class="mask"></span>
              <img src="/assets/org_com_face_1.jpg" width="205px" height="205px" alt="" />
              </a>
            </div>
            <span class="name">Левашова Надежда Юрьевна</span>
            <span class="toemail">naranpaeva@mkb.ru<span>

          </div>
        </div>
        <div class="org_people_preview">
          <div class="org_people_wrapper">
            <div class="thumb">
              <a href="">
              <span class="mask"></span>
              <img src="/assets/samp/samp_4.jpg" width="205px" height="205px" alt="" />
              </a>
            </div>
            <span class="name">Дмитрий Борисов</span>
            <span class="info">Ресторатор, основатель центра "Шардам"</span>
            <span class="desc">Получив образование химика, стала юристом, в 1959 была избрана членом Парламента от Финчли. В 1970 была назначена министром образования и науки в правительстве консерватора Эдварда Хита.</span>
          </div>
        </div>
        <div class="org_people_preview">
          <div class="org_people_wrapper">
            <div class="thumb">
              <a href="">
              <span class="mask"></span>
              <img src="/assets/samp/samp_4.jpg" width="205px" height="205px" alt="" />
              </a>
            </div>
            <span class="name">Дмитрий Борисов</span>
            <span class="info">Ресторатор, основатель центра "Шардам"</span>
            <span class="desc">Получив образование химика, стала юристом, в 1959 была избрана членом Парламента от Финчли. В 1970 была назначена министром образования и науки в правительстве консерватора Эдварда Хита.</span>
          </div>
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="left_part">
        <div class="title">
          Оргкомитет фестиваля "Яркие люди 2012"
        </div>
         Организатором фестиваля является маркетинговая компания Брайт пипл. Мы специализируемся на создании уникальных событий в культурной и социальной сферах. <br />
         Мы много всего умеем делать хорошо, но больше всего мы любим организовывать детские мероприятия. Наша работа - это всегда нестандартные, и самое главное - яркие решения!
      </div>
      <div class="right_part">
        <div class="title">
          Управляющие по различным вопросам
        </div>
        <div class="other_people_preview">
          <div class="thumb">
            <a href="">
            <span class="mask"></span>
            <img src="/assets/org_com_face_4.jpg" width="85" height="85" alt="" />
            </a>
          </div>
          <div class="info">
            <div class="name">
              Василиса
            </div>
             
            <div class="contact">
              <span class="toemail">Написать письмо</span><span class="phone">Тел.: +7 906 079-17-67</span>
            </div>
          </div>
        </div>
        <div class="other_people_preview">
          <div class="thumb">
            <a href="">
            <span class="mask"></span>
            <img src="/assets/samp/samp_4.jpg" width="85" height="85" alt="" />
            </a>
          </div>
          <div class="info">
            <div class="name">
              Мария Демидова
            </div>
             
            <div class="contact">
              <span class="toemail">Написать письмо</span><span class="phone">Тел.: +7 906 079-17-67</span>
            </div>
          </div>
        </div>
      </div>
      <div class="clear">
      </div>
    </div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>