<div class="pages">
  <%= render 'shared/post_category_menu' %>
  <div class="clear"></div>
  <%== @page.try(:text) %>
  <!-- NOT EDIT -->
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>

<% content_for :title do %>
  Фестиваль Яркие Люди | Оргкомитет
<% end %>
