<% if @contest.waiting? %>
<div class="rating_info_start">
  <span class="arrow"></span>
  Возможность голосовать появится
  <br>
  <%= Russian::strftime(@membership.contest.started_at, "%e %B %Y г.")%>
</div>
<% else %>
  <% if current_user %>
  <div class="rating_block">
  <span class="name">Рейтинг</span>
  <div class="rating">Звезды</div>
  <span><%= @membership.votes.count %><%= Russian::pluralize(@membership.votes.count, " голос", " голоса", " голосов") %></span>
  <br>
  <a href="">Отменить</a>
</div>
  <% end %>
<% end %>
