<h1>Members:</h1>
<% @memberships.each do |membership| %>
  <%= link_to image_tag(membership.picture.url(:thumb)),
              contest_membership_path(membership, contest_id: @contest.id) %>
<% end %>