<div class="nested-fields">
  <%= f.inputs do %>
    <% f.input :url %>
  <% end %>
  <%= link_to 'Убрать видео', '#', :class => 'remove_participant_video', 'data-photo-id' => f.object.try(:id) %>
</div>
