<% @body_class = "festival" %>

<div id="bri-content">

  <header>

    <div id="bri-bezier"></div>
    <div id="bri-fest-events">
      <% @top_categories.each do |topcat| %>
        <div class="bri-item">
          <%= link_to topcat.title, '#', :class => "cat_link" %>
          <div class="bri-sub">
            <% topcat.children.each do |child| %>
              <div><%= link_to child.title, '#', :class => "cat_link" %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </header>

</div>

<script> $(document).ready(function(){ festival() }) </script>