// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

@import "jquery-ui/overcast";
@import "jquery-ui-timepicker-addon";

div#edit_map{
    width: 800px; 
    height: 400px
}

.hidden{
    visibility:hidden;
    display:none;
}
