.favourite_block_is { background:url(/assets/favourite.png) no-repeat 0px -27px; display:inline-block; padding-left:24px; vertical-align:2px; font-size:13px }
.favourite_block_is a, .favourite_block_is a:hover { color:#f3452e; text-decoration: none; font-size:13px }

.favourite_block_add { background:url(/assets/favourite.png) no-repeat 0px 3px; display:inline-block; padding-left:24px; vertical-align:2px; font-size:13px }
.favourite_block_add a, .favourite_block_add a:hover { color:#f3452e; font-size:13px }