.participants_menu { margin-left: 15px; }
.participants_menu li { display: inline-block; margin: 20px 30px 0 0; }
.participants_menu li a { font-size: 85%; color: #777; }
.participants_menu li a.active { font-weight: bold }

.participants_map { position: relative }
.participants_map .text { margin-top: 15px; }
.participants_map .map { margin-top: 10px; background-color: #ccc; }
.participants_map .map img { width: 100%; }
.participants_map_toggle_wrapper { margin-bottom: 40px; }
#participants_map_toggle { width: 200px; margin: 0 auto; padding: 5px; background-color: #eee; text-align: center; font-size: 80%; behaviour: url(border-radius.htc); border-radius: 7px 0; -webkit-border-radius: 7px 0; -moz-border-radius: 7px 0; -khtml-border-radius: 7px 0; }
#participants_map_toggle:hover { cursor: pointer }

.participant_photo { position: relative; }
.participant_photo img.clickable:hover { cursor: pointer }
.init_lightbox { position: absolute; z-index: 10; right: 0; top: 50%; margin-top: -15px; width: 28px; height: 30px; background: url(/assets/prettyPhoto/default/sprite_next.png) no-repeat; }

.main_participants { margin-top: 20px; }
.main_participants .item { float: left; width: 32%; margin-right: 2%; }
.main_participants .item:last-child { margin-right: 0; }
.main_participants .item img { width: 100%; behaviour: url(border-radius.htc); border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -khtml-border-radius: 7px; }
.main_participants .item .title { margin: 10px 3px; padding-bottom: 0; font-weight: bold; }

.participants { margin-top: 15px; padding-top: 15px; border-top: 1px solid #ccc; }
.participants .participant { margin-bottom: 20px; }
.participants .participant_wrapper { border-bottom: 1px solid #ccc; margin-bottom: 15px; padding-bottom: 15px; }
.participants .participant_photo { float: left; width: 120px;}
.participants .participant_photo img { display: block; width: 100%; behaviour: url(border-radius.htc); border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -khtml-border-radius: 7px; }
.participants .participant_data { margin-left: 130px; }
.participants .participant_title { margin-bottom: 5px; font-weight: bold; }