body.festival 
{ 
  overflow: auto;
  height: auto;
  background-color: #fff; 
}

  #bri-fest-events
  {
    position: relative;
    font-family: Futura;
    font-size: 120%;
    height: 220px;
  }
    #bri-fest-events .bri-item
    {
      position: relative;
      margin-bottom: 5px;
      width: 100%; min-height: 20px;
    }

    #bri-fest-events .bri-sub div { float: left; margin-right: 30px;}

      #bri-fest-events .bri-item a
      {
        display: inline-block;
        color: #acc9e7;
      }
        #bri-fest-events .bri-item.active a
        {
          color: #c74866;
          display: inline-block;
        }

      #bri-fest-events > .bri-item a:hover 
      {
        color: #c74866;
      }

      #bri-fest-events .bri-sub
      {
        position: absolute;
        top: 12px;
        left: 100%;
        margin-left: 50px;
        width: auto;
        display: none;
      }

.am-wrapper
{
    float: left;
    position: relative;
    overflow: hidden;
}
  .am-wrapper img
  {
      position: absolute;
      outline: none;
  }

footer.festival
{
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  color: #999;
}
  footer.festival,
  footer.festival .bri-links,
  footer.festival .bri-links .bri-news 
  {
    border-color: #c7dff3 !important; 
  }

  footer.festival .bri-credentials a
  {
    color: #999;
  }

