<% content_for :title do %>
  Фестиваль Яркие Люди | Детские кружки
<% end %>

<div class="workshop_list">
  <div class="catalog">
    <h1>Детские кружки Москвы</h1>
    <%= render 'search_form' %>

    <div class="activities">
      <%= render 'm_educational', activities: @activities %>
    </div>
  </div>
</div>
