<div id="center">

  <div class="workshop_list">

    <div class="catalog">
      <h1>Детские кружки Москвы</h1>
      <%= render partial: 'search_form' %>

      <div class="activities">
	<%= render 'activities', activities: @activities %>
      </div>

    </div>

  </div>

</div>
