<% @articles.each do |article| %>
  <p>
     <%= link_to article.title, article %>
      by <%= article.author %>
     <%= time_ago_in_words article.created_at %> ago
  </p>
  <p>
      <%= truncate(article.content, length: 25, omission: '...') %>
  </p>
<% end %>
