<div class="preview_catalog">
  <div class="thumb">
    <%= link_to image_tag(article.picture.url), article %>
  </div>
  <div class="info">
    <div class="name">
      <%= link_to article.title, article %>
    </div>
  </div>
</div>