<div class="preview_catalog">
  <div class="thumb">
    <%= link_to image_tag(special_project.picture.url), special_project %>
  </div>
  <div class="info">
    <div class="name">
      <%= link_to special_project.title, special_project %>
    </div>
  </div>
</div>