<div class="preview_catalog">
  <div class="thumb">
    <%= link_to image_tag(contest_membership.picture.url), contest_membership %>
  </div>
  <div class="info">
    <div class="name">
      <%= link_to contest_membership.name, contest_membership %>
    </div>
  </div>
</div>