<div class="pages">
  <div class="expert_title">
    <h1>Экспертный совет ярких людей</h1>
     12 ярких людей современной России оценивают Москву для детей
  </div>
  
  <div class="expert_list_wrapper">
    <div class="expert_list">
      
    <% @experts.each do |expert| %>
      <div class="exp_preview">
        <span class="mark"><%= expert.mark %></span>
        <div class="thumb">
          <%= link_to image_tag(expert.photo), expert %>
        </div>
        <span class="name"><%= expert.name %></span>
        <span class="info"><%= expert.description %></span>
      </div>
    <% end %>
      
      <div class="clear"></div>
    </div>
  </div>
</div>